@rendermode InteractiveServer
@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjetoSalaoDeBeleza</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleLocalidade" style="cursor: pointer;">
                <span class="bi bi-globe" aria-hidden="true"></span> Localidades
            </NavLink>
        </div>

        @if (expandirLocalidade)
        {
            <div class="nav-item px-3" style="margin-left: 1.5rem;">
                <NavLink class="nav-link" href="paises">
                    <span class="bi bi-flag" aria-hidden="true"></span> Países
                </NavLink>
            </div>
            <div class="nav-item px-3" style="margin-left: 1.5rem;">
                <NavLink class="nav-link" href="estados">
                    <span class="bi bi-map" aria-hidden="true"></span> Estados
                </NavLink>
            </div>
            <div class="nav-item px-3" style="margin-left: 1.5rem;">
                <NavLink class="nav-link" href="cidades">
                    <span class="bi bi-building" aria-hidden="true"></span> Cidades
                </NavLink>
            </div>
        }

        
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool expandirLocalidade = false; // Começa fechado

    private void ToggleLocalidade()
    {
        expandirLocalidade = !expandirLocalidade; // Inverte entre aberto e fechado
    }
}

